<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produits</ion-title>
    <ion-buttons end>
      <ion-title >
        <button (click)='basketPage()'>
          <ion-icon name="basket" item-start></ion-icon>
        </button>
        <ion-badge item-end> {{products.quantity}} </ion-badge>
      </ion-title>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="categorie">
      <ion-segment-button *ngFor="let c of categories" value="{{c.id}}" (ionSelect)="onChange($event)">
        {{c.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let p of products">
    <ion-card>
      <img src="{{p.image}}" />
      <ion-card-content>
        <ion-card-title>
          {{p.name}}
        </ion-card-title>
        <p>
          {{p.price | currency:'EUR':true:'1.2-2':'fr'}}
        </p>
      </ion-card-content>
      <div text-center>
        <button ion-button icon-only text-left>
          <ion-icon name="eye"></ion-icon>
        </button>
        <button ion-button icon-only (click)="presentProfileModal(p)">
          <ion-icon name="basket"></ion-icon>
        </button>
      </div>
    </ion-card>
  </div>
</ion-content>
